.body {
    font-family: Arial, sans-serif;
    background-color: #85b7f0;

}

h1 {
    text-align: left;
    margin-top: 10px;
}

h2 {
    margin-left: 5px;
}

.recibo {
    position: relative;
    width: 600px;
    margin: 0 auto;
    border: 2px solid #c0c0c0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #000000;
    background-color: rgb(219, 252, 247);
    display: block;
}

.recibo img {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 150px;
}

.separacao {
    display: block;
    margin-bottom: 10px;
}

.legenda {
    display: block;
    font-size: .80rem;
    margin-top: 0.15cm;
}

.input {
    max-width: 100%;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}

.label {
    color: #363636;
    display: block;
    font-size: 15px;
    font-weight: 700;
}

input:focus {
    background-color: rgb(144, 248, 234);
}

.coluna {
    display: block;
    flex-grow: 1;
    margin-bottom: 10px;
}

.colunas {
    margin: 5px;
    margin-bottom: 10px;
    display: flex;
}

.coluna_pequena {
    flex: none;
    width: 20%;
}

.coluna_pequena_secundaria {
    width: 33, 33%;
    margin-left: 15px;
}

.coluna_pequena_terciaria {
    width: 50%;
    margin-left: 15px;
}

.coluna_cep {
    width: 20%;
    margin-left: 15px;
}

.select_mes {
    box-shadow: #f80000;
    max-width: 100%;
    width: 80%;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}

.select_estado {
    box-shadow: #f80000;
    max-width: 100%;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}

button {
    width: 90%;
    border: none;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(10, 122, 107);
    margin-right: 245px;
}

.rodape {
    background-color: rgb(90, 185, 173);
    color: #fff;
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
    position: absolute;
    width: 30%;
}

.recibo_gerado {
    width: 600px;
    margin: 0 auto;
    border: 2px solid #c0c0c0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #000000;
    background-color: rgb(34, 117, 105);
    margin-top: 30px;
}

.colunas_recibo_gerado {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.coluna_recibo_gerado {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    margin-top: 40px;
}

.coluna_esquerda_recibo_gerado {
    text-align: left!important;
    display: block;
    padding: 5px;
}

.coluna_central_recibo_gerado {
    text-align: center;
    display: block;
    padding: 5px;
}

.coluna_direita_recibo_gerado {
    text-align: right;
    display: block;
    padding: 5px;   
}

.tamanho_15 {
    font-size: 12px;
    text-transform: uppercase!important;
}

.tamanho_17 {
    font-size: 17px
}

@media print {
    body {
        visibility: hidden;
    }

    .recibo_gerado {
        visibility: visible;
        position: absolute;
        top: 0;
    }
}